* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav_links {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;
    /* background-color: blue; */
    align-items: center;
}

.nav_link {
    /* padding: 0 70px; */
    text-decoration: none;
    font-size: 30px;
    color: black;
}

body {
    text-align: center;
    margin: 0 300px 0 300px;
    background: url("../images/background-pizza.png")  repeat 0 0;
}

main h1 {
    padding: 30px;
    font-size: 50px;
}
.about-pic {
    width: 400px;
    height: 400px;
    /* padding-bottom: 30px; */
}

.main_paragraph {
    font-size: 30px;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    /* background-color: #333333; */
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #dc1923;
}

.nav_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width .3s;
}

.nav_link:hover::after {
    width: 100%;
    transition: width .3s;
}

@media (max-width:799px)  {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    main h1 {
        margin: 10px;
        padding: 0;
        font-size: 40px;
    }

    body {
        margin: 0;
    }

    .about-pic {
        height: 300px;
        width: 350px;
    }

    .main_paragraph {
        font-size: 22px;
        margin: 20px;
    }

    .nav_links {
        
        padding: 0;
        border: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .nav_link {
        
        font-size: 30px;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 20px 0;
    }
}

@media (min-width: 800px) {
 
}